@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div><a href="https://epam.sharepoint.com/sites/ASPNetCore/SitePages/Module_03.aspx" target="_blank">Module 3 Lection</a></div>
    <img src="~/Images/asp-net-core_logo.jpg" width="150"/>
</div>

@RenderBody()
