@model VG_AspNetCore_Web.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div>Related information places into Logs, with RequestId = @Model.RequestId</div>
<div>Please copy RequestId and <a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></div>

<p>
    Swapping to <strong>Development</strong> environment also may display more detailed information about the error that occurred.
</p>