@{
    ViewData["Title"] = "Contact page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Email:</strong> <a href="mailto:Vladimir_Gerasimov@epam.com">Vladimir_Gerasimov@epam.com</a><br />
    <strong>Skype:</strong> <a href="skype:vladimir_gerasimov12?chat">Vladimir_Gerasimov12</a>
</address>