@{
    ViewData["Title"] = "About page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>Test ASP.NET Core application, according to <a href="https://epam.sharepoint.com/:b:/r/sites/ASPNetCore/Shared%20Documents/Modules/Module01_Introduction.pdf?csf=1&e=fuOEBZ">task</a></div>